*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
    text-align: center;
    background-color: #333333;
}

.container {
    background-color: #222222; 
    border: 3px solid #007BFF; 
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    margin-bottom: 20px;
}

h1 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

img {
    max-width: 250px;
    border-radius: 10px;
    margin: 0 auto 20px;
    width: 100%;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

p {
    font-size: 20px;
    color: #ddd; 
    margin: 10px 0;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: #007BFF;
    transition: color 0.3s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

a[data-testid="githubURL"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

a[data-testid="githubURL"]:hover {
    background-color: #0056b3;
}

p[data-testid="myTrack"] {
    text-align: center;
    font-weight: bold;
    color: #007BFF;
    margin-top: 20px;
}
footer {
    background-color: #333333; 
    color: #fff;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 10px; 
}


footer p {
    margin: 0;
    font-size: 14px;
}





